a {
    cursor: pointer;
}

.page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
}

.menu-item-main {
    display: flex;     
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 10px;

    margin-bottom: 40px;
}

.product-info {
    display: flex;     
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

.product-name-group {
    display: flex;     
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: flex-start;
    width: 100%;
    gap: 0px;
}


.menu-item-product-name {
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 120%;
    align-self: flex-start;
    text-align: left;
    align-items: center;
    align-content: center;
    max-width: fit-content;
}

.product-description {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    align-self: flex-start;
}

.price {
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 120%;
    align-self: flex-start;
}

.add-icon {
    width: 17px;
    height: 17px;
 
    background-color: #2F2926;
    border-radius: 50%;
    padding: 8px; 
}

.menu-item-line {
    position: relative;
    top: -2px;    
    flex-grow: 1;
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
}